#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/manifest.v2.schema.json

packaging_format = 2

id = "loops"
name = "Loops"
description.en = "Federated short video sharing platform"
description.fr = "Plateforme fédérée de partage de vidéos courtes"

version = "1.0.0-beta.8~ynh3"

maintainers = ["Papa Dragon", "grossermensch"]

[upstream]
license = "AGPL-3.0-or-later"
website = "https://joinloops.org"
admindoc = "https://github.com/joinloops/loops-server/blob/main/INSTALLATION.md"
code = "https://github.com/joinloops/loops-server"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "850M"
ram.build = "1500M"
ram.runtime = "350M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    #[install.language]
    #ask.en = "Choose the application language"
    #ask.fr = "Choisissez la langue de l'application"
    #type = "select"
    #choices = ["fr", "en"]
    #default = "fr"

    [install.admin]
    type = "user"

    [install.password]
    help.en = "Set the admin password"
    help.fr = "Définissez le mot de passe de l'administrateur"
    type = "password"

    [install.s3_key_id]
    ask.en = "S3 key ID:"
    help.en = "Sets the key ID to connect to object storage"
    type = "string"

    [install.s3_key_secret]
    ask.en = "S3 key secret:"
    help.en = "Sets the key secret to connect to object storage"
    type = "string"

    [install.s3_region]
    ask.en = "S3 region:"
    help.en = "Skip this with other object storage providers"
    type = "string"
    default = "us-east-1"

    [install.s3_bucket]
    ask.en = "S3 bucket:"
    help.en = "Sets the name of the bucket"
    type = "string"

    [install.s3_path_style]
    ask.en = "Use path style endpoints for S3?"
    help.en = "Usually required by third-party providers"
    type = "boolean"

    [install.s3_endpoint]
    ask.en = "Custom S3 endpoint:"
    help.en = "Required when using a third-party object storage provider (https://<domain>)"
    type = "string"
    optional = true

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/joinloops/loops-server/archive/af456581596798c1544a46166dbdb3a76d3e108f.zip"
    sha256 = "0fada94952e6684cbe771c6521a1bcdad05c9d9b890b3d86284cc46a518f980e"

    [resources.sources.redisbloom]
    url = "https://github.com/RedisBloom/RedisBloom/archive/refs/tags/v8.0.8.zip"
    sha256 = "98064be307021e525d71bdf6e26e76d408e383ec1fe0e5776e8008b836ca357d"
    in_subdir = true

    [resources.sources.redissdk]
    url = "https://github.com/RedisLabsModules/RedisModulesSDK/archive/3b2f6840faf22e8c0b0cc7d63cb5f048ce467b8e.zip"
    sha256 = "8302df285de35c6154084b93cda665a8332f5dfd3b0e88124952fa5c8e7fc919"
    in_subdir = true

    [resources.sources.redisreadies]
    url = "https://github.com/RedisLabsModules/readies/archive/7fc8e62b24d3f7ff01096d83f14cbc216ac0e2f0.zip"
    sha256 = "479a1d387de4a01882f759d39c3f8464a54e562de05712f922cee27327288b07"
    in_subdir = true

    [resources.sources.redistdigestc]
    url = "https://github.com/RedisBloom/t-digest-c/archive/5b89d70a08b7ea9ff8d4b9e90ccf84fbd59ab50c.zip"
    sha256 = "a2487480d97aa7d64334fc60296c6e31cc530035c550148d52f77bc82ff12b63"
    in_subdir = true

    [resources.sources.googlebenchmark]
    url = "https://github.com/google/benchmark/archive/37be1e8252527229cccad9f097afe68572f3c08a.zip"
    sha256 = "0912168e55d28958fa6b2cf78110d89816d444a185b57f6c2314d7bd8d9ced03"
    in_subdir = true

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "mariadb-server, libgd3, jpegoptim, optipng, pngquant, ffmpeg, imagemagick, php8.4-redis, php8.4-bcmath, php8.4-cli, php8.4-ctype, php8.4-exif, php8.4-gd, php8.4-iconv, php8.4-intl, php8.4-mbstring, php8.4-tokenizer, php8.4-xml, php8.4-pdo, php8.4-mysql, php8.4-zip, php8.4-fileinfo, php8.4-imagick, redis-server, cmake, tree, python3-pip,build-essential"

    [resources.database]
    type = "mysql"

    [resources.nodejs]
    version = "22"

    [resources.composer]
    version = "2.8.12"
